
.hero-area
    {
        padding-top: 25px;
        /*background:rgba(63, 191, 138, 0.3);*/
        /*background-color: #0889c5ce;*/
        /*background-image: url('../img/grain.png');*/
        background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-style: normal;
        font-weight: lighter;
        color: rgb(255, 255, 255);
        min-height: 15px;
    }

.hero2-area
{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}
    
footer {
    padding-bottom: 25px;
    color: rgb(59, 59, 59);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: black;
    min-height: 100px;
}   

.bg-image 
{
    padding-top: 25px;
    text-shadow: rgb(255, 255, 255);
    background-image: url('../img/org4.png');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-weight: lighter;
        color: rgb(255, 255, 255);
        min-height: 15px;
  }

/*
.hero-image 
    {
        height: 100%;
        width: 100%;
        background-image: url('../img/org2.png');
        position: relative;
        background-repeat: no-repeat;
    }

*/

.bg-bg
{
    background-image:url('../img/bg1.png') ;
}